.idea/workspace.xml
# ignore build folders
.gradle
bin
build
target
out
classes

# ignore eclipse project files
.classpath
.project
.settings

# ignore idea project files
.idea
*.iml
*.ipr
*.iws
.idea/workspace.xml

# ignore project runtime files
logs

# Ignore mac files
*.DS_Store

.gradletasknamecache
.idea/workspace.xml

